<form [formGroup]="formGroup">

  <h4>Basic mat-select</h4>
  <mat-form-field>
    <mat-label>Team</mat-label>
    <mat-select formControlName="team">
      <ng-container *ngFor="let team of teams">
        <mat-option [value]="team.value">{{team.viewValue}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Company</mat-label>
    <mat-select formControlName="company">
      <ng-container *ngFor="let company of companys">
        <mat-option [value]="company.value">{{company.viewValue}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Leader</mat-label>
    <mat-select formControlName="leader">
      <ng-container *ngFor="let leader of leaders">
        <mat-option [value]="leader.value">{{leader.viewValue}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

</form>
